{% extends 'base.html' %} {%block bodyblock %}
<!-- <link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/index.css') }}"
/> -->

<div class="row my-auto">
  <div class="col-md-8 offset-md-2">
    <!-- <br /><br /> -->
    <h1 class="display-4" style="margin-top: 70px !important">
      Welcome to
      <span style="color: #198b90"
        >Visvesvaraya Technological University AI World!</span
      >
    </h1>
    <br />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo sequi
      magnam illum ipsam, architecto quidem, laborum veritatis impedit quis
      molestiae eos modi autem! Impedit beatae dolor mollitia dolores illum
      fuga! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
      laborum minus quod ipsa, totam reprehenderit eum reiciendis aut,
      aspernatur architecto deleniti voluptatibus ut officia, in repellendus
      repudiandae quae veniam molestiae? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Et repudiandae sapiente adipisci nobis dolores
      exercitationem necessitatibus, tempora assumenda quae molestias unde,
      corporis veniam veritatis qui, rerum autem amet quibusdam. Vero?
    </p>
  </div>
</div>

{% endblock %}
